<h1>Crear Nueva Marca</h1>
<form class="form-group" action="/action_page.php">
	<div class="col-sm-12 form-group">
		<div *ngIf="!isValid" class="alert alert-danger">
			<strong>Danger!</strong> {{message}}.
		</div>
		<div class="col-sm-12">
			<label class="control-label col-sm-2" for="nomb_marca"><span class="required">*</span>Marca:</label>
			<input type="email" class="form-control"  name="nomb_marca" id="email" [(ngModel)]="user.nomb_marca" placeholder="Ingrese nombre de la marca">

			<label class="control-label col-sm-2" for="estado" style="margin-top: 10px;"><span class="required">*</span>Estado:</label>
			<select class="form-control" name="estado" [(ngModel)]="user.estado">
				<option value="activo">Activo</option>
				<option value="inactivo">Inactivo</option>
			</select>
			<button type="submit" (click)="saveOrUpdate()" class="btn btn-success btn-save">Guardar</button>
		</div>
</div>
</form>