<div style="padding-top: 15px;"></div>
	<div class="container">
	<div class="row">
		<div class="col-md-12" style="margin: auto;">

			<button type="button" [routerLink]="['/userComponent']" class="btn btn-primary">Marca</button>
			<button type="button" [routerLink]="['/createUserComponent']" class="btn btn-success" style="margin-left: 5px;">Agregar Marca</button>
		</div>
	</div>
	<router-outlet></router-outlet>
</div>