<div class="alert alert-danger" *ngIf="deleted" style="margin-top: 5px;">
	<strong>Danger!</strong> {{message}}.
</div>
<div class="alert alert-success" *ngIf="modified" style="margin-top: 5px;">
	<strong>Success!</strong> {{message}}.
</div>
<h1>Marcas Registradas</h1>
<div class="col-sm-12 form-group">
	<div class="container">
		<table class="table">
		  <thead>
		    <tr>
		      <th scope="col">Id</th>
		      <th scope="col">Nombre</th>
		      <th scope="col">Estado</th>
		      <th scope="col">Action</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr *ngFor="let user of users">
		      <td>{{user.id_marca}}</td>
		      <td>{{user.nomb_marca}}</td>
		      <td>{{user.estado}}</td>
		      <td>
		      	<img src="./../../assets/edit.png" class="editItem" (click)="edit(user)">
		      	<img src="./../../assets/delete.png" class="editItem" (click)="delete(user)">
		    </tr>
		  </tbody>
		</table>
	</div>
</div>
